<header class="site-header">
    <div class="bg-logo">
        <h1><a class="logo" href="index.html">Vagabanda The</a></h1>
    </div>

    <nav id="navigation" class="nav-menu text-center">
        <ul class="menu">
            <li><a href="#about">Sobre</a></li>
            <li><a href="#band">Integrantes</a></li>
            <li><a href="#show">Shows</a></li>
            <li><a href="#photos">Fotos</a></li>
            <li><a href="#contact">Contato</a></li>
        </ul>
    </nav>
</header>

